header {
  margin-bottom: 20px;
  .header__top-bar {
    //display: block;
    @media only screen and (min-width: $screen-mobile) {
      //display: none !important;
      visibility: hidden;
    }
    @media only screen and (min-width: $screen-tablet) {
      visibility: visible;

    }
    @media only screen and (min-width: $screen-pc) {
    }

    &-inner {
      display: flex;
      justify-content: space-between;

      .social-links {
        display: flex;
        padding: 0;

        &__item {
          margin-right: 4px;
        }
      }

      .nav-account {
        display: flex;
        align-self: end;

        @media only screen and (min-width: $screen-mobile) {
          flex-wrap: wrap;

          padding: 2px;
          margin-left: 30px;

          font-size: 8px;
        }
        @media only screen and (min-width: $screen-tablet) {

        }
        @media only screen and (min-width: $screen-pc) {
        }

        &__item {
          margin-left: 10px;

          font-size: 12px;
          color: white;
          &::after {
            content: '|';
          }
          &--lighter {
            color: #00ff5b;
          }
        }
      }
    }

  }

  .header__primary {
    background: $purple-lighter;
    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: relative;

      .header-logo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        z-index: 2;
      }
      .main-nav {
        width: 40%;
        &__list {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          padding: 0;
          font-size: 10px;


          //@media only screen and (min-width: $screen-mobile) {
          //  display: flex;
          //}
          @media only screen and (min-width: $screen-tablet) {
            flex-direction: row;
            visibility: visible;
            font-size: 14px;
          }
          @media only screen and (min-width: $screen-pc) {
          }
          &:hover .main-nav__children {
            @media only screen and (min-width: $screen-mobile) {
              display: block;
            }
          }
        }
        .main-nav__children {
          @include font($size:10px,$weight: bold, $color: white, $style: italic);
          padding: 5px 0;
          display: none;


          @media only screen and (min-width: $screen-mobile) {

          }
          @media only screen and (min-width: $screen-tablet) {
            flex-direction: row;
            display: block;
            font-size: 14px;
          }
          @media only screen and (min-width: $screen-pc) {
          }

          &--button {
            display: block;
            color: white;
            @media only screen and (min-width: $screen-mobile) {
              //color:red !important; ;
            }
            @media only screen and (min-width: $screen-tablet) {
              display: none;
            }
            @media only screen and (min-width: $screen-pc) {
            }
          }
        }
      }
      .header-search-home {
        position: relative;
        input[type="text"] {
          height: 38px;
          padding: 0 4px;

          border: solid 1px #362b45;
          border-radius: 20px;

          background: #362b45;
          color: white;

        }
        .btn-search {
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(0, -50%);

          border: solid 1px transparent;
          background: transparent;

          color: white;
        }
      }
    }
  }
}