// ==========================================================================
// color primary
// ==========================================================================
$green: #28a745;
$yellow: #ffc107;
$purple: #6f42c1;
$red: #dc3545;
$purple-lighter: #403351;

//background
$color-background: #2B2236;

// ==========================================================================
// color icon
// ==========================================================================
$color-icon: (
        fa:red,
        twitter:#55ACEE,
        google:#dd4b39,
        linkedin:#007bb5,
        youtube:#bb0000,
        intagram:#125688,
);

