.site-content {
  padding: 50px 0;

  .row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap; //down to the line

    //border: solid 2px red;
    /*!*flex-wrap: wrap;*!  2sibar auto xuống dòng*/
    @media only screen and (min-width: $screen-mobile) {
      //width: 100%;
      //flex-wrap: wrap; //down to the line
      //justify-content: center;
    }
    @media only screen and (min-width: $screen-tablet) {
    }
    @media only screen and (min-width: $screen-pc) {
    }
  }

}
